.keyboard {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 8px;
}

.column-keys {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.c1 {
  width: 100%;
}

.c2 {
  width: 90%;
}

.c3 {
  width: 80%;
}

div .c4 {
  width: 100%;
}

.c4 button {
  width: 45%;
}

button {
  width: 100%;
  height: 100%;
}

.key {
  background-color: transparent;
  color: rgb(255, 255, 255);
  height: 50px;
  border: white solid 1px;
  width: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.key-pressed {
  background-color: red;
  color: white;
}
