body {
  padding: 20px;
}

.keyboard {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 8px;
}

.column-keys {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.c1 {
  width: 100%;
}

.c2 {
  width:90%;
}

.c3 {
  width: 80%;
}

button {
    width: 100%;
    height: 100%;
}

.key {
    background-color: black;
    color: red;
    height: 50px;
    border: white solid 1px;
    width: 50px;
}

.key:hover {
    background-color: red;
    color: white;
}